@font-face {
    font-family: myfont;
    src: url("assets/font1/arabnight.ttf");
 }
 

body{
  background: linear-gradient(to bottom, #380b0e, #882121, #170103);
  color: rgb(0, 0, 0); 
  padding: 20px;
  font-family: myfont;
  text-align: center;
  width: auto;
  height: auto;
}


.mainbtn {
    background-color: #7b0000;
    color: white;
    padding: 15px 15px;
    text-align: center;
    margin: 15px 0;
    display: inline-block;
    border-style: ridge;
    border-color: #380b0e;
    cursor: pointer;
    font-family: cursive;
    position: fixed;
    margin-left: 250px;
    margin-top: -100px;
    z-index: 90000000; /* fixes the button going behind things*/
    box-shadow:0 0 10px #c4bebe;  
}
  .row {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
  }
  .box {
    background-color: #ac00009f;
    padding: 2px;
    flex: 1;
    min-width: 20px;
    box-shadow:0 0 10px #000; /* creates shadow behind the boxes and images */
    border-radius: 10px;
  }
  .postermain{
    width: 200px;
    margin-left: 10px;
    margin-top: 3px;
    box-shadow:0 0 100px #ff0000;
  }
  .textbox{
    background-color: #ab5b5b;
    padding: 20px;
    flex: 1;
    min-width: 20px;
    height: 240px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    box-shadow:0 0 100px #000;
  }
  .box2 {
    background-color: #5c2626;
    color: rgb(0, 0, 0);
    padding: 20px;
    flex: 1;
    min-width: 200px;
    border-radius: 40px;
    text-align: center;
    font-family: cursive;
    box-shadow:0 0 100px #000;
  }
  .vote-container {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .votestefan{
    color: #fffefe;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 20px 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .votestefan:hover {
    border-color: #ff0000;
    background: #340404;
  }
  
  .votestefan{
    background: linear-gradient(135deg, #000000, #420619);
  }
  .votedamon{
    color: #ffffff;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 20px 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .votedamon:hover {
    border-color: #ff0000;
    background: #1d0a0a;
    
  }
  
  .votedamon {
    background: linear-gradient(135deg, #8d002d, #000000);
  }
  /* cannot figure out how to actually make the vote buttons work?*/
.author {
    background-color: #7f0000a6;
    color: white;
    padding: 20px;
    flex: 1;
    min-width: 150px;
    box-shadow:0 0 100px #000;
    font-family: 'Times New Roman', Times, serif;
  }

.allfaces{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 500px;
  margin: 20px 0;
  border-radius: 10px;
  border-color: #000000;
  box-shadow:0 0 100px #000;
  animation: sidetoside 5s ease-in-out infinite;
}
.tvduniverse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    margin: 20px 0;
    margin-right: 1px;
    border-radius: 10px;
    box-shadow:0 0 200px #000;
    transform: translate(600px, -500px);
    animation: sidetoside2 10s ease-in-out infinite;
}

.btn1{
    background-color: #a12d2d;
    color: white;
    padding: 15px 15px;
    text-align: center;
    margin: 15px 0;
    display: inline-block;
    border-style: ridge;
    border-color: #380b0e;
    cursor: pointer;
    font-family: cursive;
    
}
.btn1:hover{
    box-shadow:0 0 150px #ffffff;
    animation: sidetoside 2s ease ;
}
.btn2:hover{
    box-shadow:0 0 150px #ffcc00;
    animation: sidetoside 2s ease ;
}
.btn3:hover{
    box-shadow:0 0 150px #00ffae;
    animation: sidetoside 2s ease ;
}

.btn2{
    background-color: #922121;
    color: white;
    padding: 15px 15px;
    text-align: center;
    margin: 15px 0;
    display: inline-block;
    border-style: ridge;
    border-color: #380b0e;
    cursor: pointer;
    font-family: cursive;
}
.btn3{
    background-color: #7e1111;
    color: white;
    padding: 15px 15px;
    text-align: center;
    margin: 15px 0;
    display: inline-block;
    border-style: ridge;
    border-color: #380b0e;
    cursor: pointer;
    font-family: cursive;
}
.sidecharacters {
    background-color: #2a0000;
    color: #e0dada;
    padding: 40px 20px;
    border-radius: 20px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    font-size: larger;
  }
  
.sidec{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

  }
.side1{
    background-color: #400000;
    padding: 20px;
    border-radius: 16px;
    flex: 1 1 250px;
    transition: transform 0.3s ease, background 0.3s ease;
}
.side2{
    background-color: #400000;
    padding: 20px;
    border-radius: 16px;
    flex: 1 1 250px;
    transition: transform 0.3s ease, background 0.3s ease;
}
.side3{
    background-color: #400000;
    padding: 20px;
    border-radius: 16px;
    flex: 1 1 250px;
    transition: transform 0.3s ease, background 0.3s ease;
}
.photo{
    width: 200px;         
    height: 250px;       
    object-fit: cover;    
    border-radius: 10px; 
    animation: sidetoside 10s ease-in-out infinite;
    box-shadow: 0 0 50px rgba(255, 181, 181, 0.797);
}
@keyframes sidetoside {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(30px); 
    }
    100% {
      transform: translateX(0);
    }
  }
@keyframes sidetoside2 {
    0% {
      transform: translateX(15);
    }
    50% {
      transform: translateX(1px); 
    }
    100% {
      transform: translateX(10);
    }
  }
.hatelist{
  background-color: #1e0a0a;
  color: #ffe6e6;
  padding: 30px;
  border-radius: 16px;
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 0 100px rgba(255, 0, 0, 0.797);
  text-align: center;
  font-family: 'Times New Roman', Times, serif;

}
.hatelist h2{
    box-shadow: 0 0 30px rgba(247, 241, 241, 0.797);
    border-radius: 10px;
}
.aboutme{
  background-color: #000000;
  color: #ffe6f0;
  padding: 30px;
  border-radius: 16px;
  max-width: 700px;
  margin: 40px auto;
  box-shadow: 0 0 30px rgba(208, 255, 1, 0.3);
  text-align: center;
  font-size: 1.1em;
  line-height: 1.6;
}
.aboutmetitle{
    font-size: larger;
    font-family: myfont;
}
.me{
    font-family: 'Times New Roman', Times, serif;
}
@keyframe pulse{
    0%{
        box-shadow: none;
      }
      50% {
        box-shadow: 0 0 20px rgba(225, 0, 100, 0.6);
      }
      100% {
        box-shadow: none;
      }
    }
.mainbtn:hover {
        transform: scale(1.1);
        box-shadow:0 0 60px #1d03a0;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
  .mainbtn:active {
    animation: spin 1s;
    background-color: #7b0000; 
    color: #000000; 
    border-color: #000000;
  }
  .kiss{
    border: solid rgb(201, 136, 136) 10px;
    border-radius: 30px;
    box-shadow: 0 0 40px rgba(140, 0, 0, 0.9);
    padding: 20px;
    width: 300px;
    animation: drip 10s infinite ease-in-out;
    opacity: 0.9;
    animation: drip2 10s infinite ease-in-out;
}
  .kiss:after {
    bottom: 0;
    left: 60%;
    width: 12px;
    height: 50px;
    background: radial-gradient(circle at 50% 0%, #c6b8b8 0%, #ffffff 100%);

  }
  .kiss:before {
    
    bottom: -8px;
    left: 55%;
    width: 8px;
    height: 45px;
    background: radial-gradient(circle at 50% 0%, #000000 0%, #000000 100%);
  }
   
  
  /* tried a new keyframe to represent blood and their relationship when it was toxic*/
    @keyframes drip {
        0%, 100% {
          transform: translateY(0) scaleY(1);
          opacity: 0%;
        }
        50% {
          transform: translateY(8px) scaleY(1.1);
          opacity: 40%;
        }
      }
      @keyframes drip2 {
        0%, 100% {
          transform: translateY(0);
          opacity: 10%;
        }
        50% {
          transform: translateY(14px);
          opacity: 75%;
        }
      }
  
    
    

  

  



    
 
