/* STYLE FOR YOU MAIN.HTML */
head{
   
}

.pathway{
    background-color: black;
    width: 300px;
    text-align: end;
    
}
Body{
    
    background-color:rgb(20, 20, 20);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: rgb(255, 255, 255) ;
    font-size: 5px; 
justify-content: center;
align-items: center;
display: flex;


} 
.wall{  margin-top: 1000px;
    padding: 20px;
    width: %;

}
.wall2{
    margin-top: 3000px;
    padding: 20px;
    width: 50%;

}
.flex1{
    display:flex;
    width: 100vw;
    height: 1000vh;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
              padding: 20px;
              width: 150px;
              height: 100px;
              
           
           
 }

.tile1{
  
    
    padding: 150px;

    justify-content: center;
    background-color: rgba(0, 0, 0, 0.808); 

    border-radius: 30px;
   
   
  margin-top: 0px;
  margin-left:400px;

}

  
  .tile1 img {
    width: 400%;
height: auto;
margin-left: -150%;
    border-radius: 10px;
  }
  
.tile2{
    width: 1%;
    height: 1%;
    background-color: grey;
    /* spacing tiles */
    margin: 7%;
    padding: 150px;
  
    margin-top: -5px;
margin-left: -10px;
    position: absolute;
}
.tile3{
    width: 1%;
    height: 1%;
    background-color: rgb(255, 0, 0);
    /* spacing tiles */
    margin: 7%;
    padding: 150px;
     margin-top: 1600px;
 margin-left: -10px;
    position: absolute;}
 .tile4{
    width: 1%;
    height: 1%;
    background-color: rgb(255, 0, 0);
    /* spacing tiles */
    margin: 7%;
    padding: 150px;
     margin-top: 1600px;
 margin-left: -10px;
    position: absolute;}
.tile5{
    width: 10px;
    height: 20px;
    background-color: grey;
    /* spacing tiles */
    margin: 7%;
    padding: 150px;
 border-radius: 30px;
    margin-top: 1600px;
margin-left: 400px;
    position: absolute;
    }

.tile6{
    width: 1%;
    height: 1%;
    background-color: grey;
    /* spacing tiles */
    margin: 7%;
    padding: 150px;
 
    margin-top: 1200px;
margin-left: 400px;
    position: absolute;
}

.tile7{
    width: 1%;
    height: 1%;
    background-color: grey;
    /* spacing tiles */
    margin: 7%;
    padding: 150px;
 
    margin-top: 1200px;
margin-left: -10px;
    position: absolute;
}

.tile8{
    width: 1%;
    height: 1%;
    background-color: rgb(119, 44, 44);
    /* spacing tiles */
    margin: 7%;
    padding: 150px;
 
    margin-top: 750px;
margin-left: -10px;
    position: absolute;
}


.tile9{
    width: 1%;
    height: 1%;
    background-color: grey;
    /* spacing tiles */
    margin: 7%;
    padding: 150px;
 
    margin-top: 750px;
margin-left: 425px;
    position: absolute;
}

.tile10{
    width: 5%;
    height: 1%;
    background-color: rgb(87, 0, 0);
    /* spacing tiles */
    margin: 7%;
    padding: 150px;
    border-radius: 30px;
    margin-top: 400px;
margin-left: -10px;
    position: absolute;
}

        .tile11{
            display:flex;
            width: 40vw;
            height: 12vh;
            align-items: center;
            justify-content: center;
            margin-top: 600px;
            margin-left: 400px;
                position: absolute;
            background-color: rgb(83, 0, 0); 
        }
        .tile12{
            display:flex;
            width: 40vw;
            height: 12vh;
            align-items: center;
            justify-content: center;
            margin-top: 400px;
            margin-left: 400px;
                position: absolute;
            background-color: rgb(83, 0, 0); 
        }
        .tile13{
            display:flex;
            width: 40vw;
            height: 12vh;
            align-items: center;
            justify-content: center;
            margin-top: 500px;
            margin-left: 400px;
            position: absolute;
            background-color: rgb(83, 0, 0); 
        } 
    
    
        .mainbtn {
            padding: 12px 24px;
            font-size: 16px;
            cursor: pointer;
            border: 2px solid #000000; 
            background-color: transparent;
            color: #6d5656;
            border-radius: 10px;
            animation: spin 5s linear;
            margin-top: ;
          }
          
        
          @keyframes spin {
            from {
              transform: rotate(180deg);
            }
            to {
              transform: rotate(0deg);
            }
          }
          
        
        .mainbtn:hover {
            background-color: #000000;
            color: rgb(91, 0, 0);
          }
        
        .mainbtn:active {
            animation: spin 15s;
            background-color: #000000; 
            color: #000000; 
            border-color: #000000;
          }

          
    
    
    
    
    
    
    
    
    

    
    
    
    
    
    
    
    
    }