@font-face {
    font-family: myfont;
    src: url("assets/font1/arabnight.ttf");
 }

body{
  background: linear-gradient(to bottom, #380b0e, #882121, #170103);
  color: white; 
  padding: 20px;
}

.mainbtn {
    background-color: #7b0000;
    color: white;
    padding: 15px 15px;
    text-align: center;
    margin: 15px 0;
    display: inline-block;
    border-style: ridge;
    border-color: #380b0e;
    cursor: pointer;
    font-family: cursive;
  }
  .row {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
  }
  .box {
    background-color: #e0e0e0;
    padding: 20px;
    flex: 1;
    min-width: 200px;
  }
  .textbox{
    background-color: #ab5b5b;
    padding: 20px;
    flex: 1;
    min-width: 200px;
    border-radius: 20px;
  }
  .box2 {
    background-color: #400000;
    color: rgb(78, 51, 51);
    padding: 20px;
    flex: 1;
    min-width: 200px;
    border-radius: 40px;
    text-align: center;
    font-family: cursive;
  }
  .vote-container {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .votestefan{
    background-color: #000000;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 20px 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .votestefan:hover {
    border-color: #ff0000;
    transform: scale(1.05);
    background: #340404;
  }
  
  .votestefan{
    background: linear-gradient(135deg, #2d6a4f, #40916c);
  }
  .votedamon{
    background: #ffe2e2;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 20px 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .votedamon:hover {
    border-color: #321414;
    transform: scale(1.05);
    background: #1d0a0a;
  }
  
  .votedamon {
    background: linear-gradient(135deg, #3f37c9, #4361ee);
  }
  
  .vote-option span {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
}
.author {
    background-color: #7f0000a6;
    color: white;
    padding: 20px;
    flex: 1;
    min-width: 150px;
  }




    
 
