@font-face {
    font-family: myfont;
    src: url("assets/font1/arabnight.ttf");
}

body {
    text-align: center;
    background: linear-gradient( #593f3f 0%, #8B0000 100%);
    font-family: myfont;
    color: rgb(0, 0, 0);
    font-size: 3.5vw;
    margin: 0;
    padding: 0;
}


.flex1 {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: auto; 
    align-items: center;
    justify-content: center;
    gap: 2vw;
    background-color: rgb(81, 0, 0);
    padding: 2vw;
    box-sizing: border-box;
  }
  
 
  .flex1 img {
    width: 20vw;
    height: auto;
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .flex1 img:hover {
    transform: scale(1.1);
  }

  .video img:hover{
    transform: scale(3);
  }

  .flex2{
    flex-wrap: wrap;
   background-color: black;
    height: auto; 
  }
  .mainbtn {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #000000; 
    background-color: transparent;
    color: #6d5656;
    border-radius: 10px;
    animation: spin 50s linear infinite;
  }
  

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

.mainbtn:hover {
    background-color: #000000;
    color: rgb(91, 0, 0);
  }

.mainbtn:active {
    animation: spin 15s;
    background-color: #000000; 
    color: #000000; 
    border-color: #000000;
  }
  
  .flex3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2vw;
    padding: 2vw;
    background-color: #131313;
    flex-wrap: wrap; 
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .tile {
    background-color: black;
    color: white;
    width: 25vw;
    max-width: 300px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow:0 0 100px #000;
    transition: transform 0.3s ease;
  }
  
  .tile img {
    width: 100%;
    display: block;
    border-bottom: 20px solid #8B0000;
  
  }
  
  .tile {
    margin: 1%;
    font-size: 100%;
    color: #ffffff;
  }
  
  .tile:hover {
    transform: scale(1.6);
  }
  
 
  
  