@font-face {
    font-family: myfont;
    src: url("assets/font1/arabnight.ttf");
}

body {
    text-align: center;
    background: linear-gradient( #808080 0%, #8B0000 100%);
    font-family: myfont;
    color: rgb(118, 2, 2);
    font-size: 2.5vw;
    margin: 0;
    padding: 0;
}


.flex1 {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: auto; 
    align-items: center;
    justify-content: center;
    gap: 2vw;
    background-color: rgb(81, 0, 0);
    padding: 2vw;
    box-sizing: border-box;
  }
  
 
  .flex1 img {
    width: 20vw;
    height: auto;
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .flex1 img:hover {
    transform: scale(3);
  }
  .flex2{
    flex-wrap: wrap;
   background-color: black;
    height: auto; 
  }
  .mainbtn {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #8B0000; /* blood red border */
    background-color: transparent;
    color: #8B0000;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    animation: spin 50s linear infinite;
  }
  

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  .spin-button:hover {
    background-color: #8B0000;
    color: rgb(0, 0, 0);
  }
  
  
 
  
  